@model IEnumerable<the_Mike_Ro_Blog.Models.WhoFollowsWhomVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FollowerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FolloweeName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FollowerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FolloweeName)
        </td>
       
      
    </tr>
}

</table>
